<div class="cont">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Log In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>					
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>						
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
					</div>          
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<%= f.submit "Log In", class:"btn float-right login_btn" %>
					</div>
				<% end %>
			</div>
			<div class="card-footer">				
				<div class="d-flex justify-content-center">
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

